@import "tailwindcss";


/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

body{
  background-color: #D0020B;
  /* background-image: url('../../public/assets/background.png'); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@font-face {
  font-family: 'BwSeidoRound';
  src: url('../../public/fonts/BwSeidoRound-Bold.ttf');
}

.font-bwseidoround {
  font-family: 'BwSeidoRound';
}

@font-face {
  font-family: 'BwSeidoRound-thin';
  src: url('../../public/fonts/BwSeidoRound-Regular.ttf');
}

.font-bwseidoround-thin {
  font-family: 'BwSeidoRound-thin';
}

@font-face {
  font-family: 'Anton';
  src: url('../../public/fonts/Anton-Regular.ttf');
}

.font-anton {
  font-family: 'Anton';
}